body::before {
    background: linear-gradient(160.12deg, #BFDDB6 0%, #4CB8BA 100%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    content: "";
    display: block;
    height: 4px;
  }

  h1 {
    font-size: 48px;
  }

  h1, h2, h3, h4, h5 {
    color: #303037;
    font-weight: 400;
  }

  img {
    margin-bottom: 0
  }

  * {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
  }